/CollectionPDF/
/Workspace/
.obsidian/app.json
.obsidian/canvas.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/core-plugins-migration.json
.obsidian/graph.json
.obsidian/hotkeys.json
.obsidian/plugins/
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspaces.json